{% extends 'admin.html.twig' %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="col-lg-8 d-flex justify-content-center">
    <div class="card w-100 shadow-lg">
      <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4 text-center">Dashboard</h5>
        <div class="table-responsive">
          <table class="table text-nowrap mb-0 align-middle text-center">
            <tbody>                  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
