<p>Bonjour,</p>
<p>Vous avez demandé à réinitialiser votre mot de passe. Cliquez sur le lien suivant pour procéder :</p>
<p><a href="{{resetUrl}}">Réinitialiser mon mot de passe</a></p>
<p>Ce lien expirera dans 1 heure.</p>
<p>Merci!</p>